{% load static %}
<link href="{% static 'core/css/EstiloBarra.css' %}" rel="stylesheet">
 
<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/script.js' %}"></script>

<nav class="navbar nav-1 navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-image" href=" {% url 'home' %} ">
          <img src="{% static 'core/img/logo.png'%}" class="responsive-img" alt="logo" height="30" width="30">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto justify-content-between">
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">-->
                    <form id="formularioprin" name="formularioprinc" action="{% url 'home' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="file" name="archivo" id="subirArchivoCh"  accept=".ch" style="display : none;" required>
                        <a class="nav-item nav-link" id="btnAbrir"  onclick="actionOpen()" >Abrir</a> <!--boton abrir-->
                        <input type="submit" value="Subir" id="btnUp" href="{% url 'home' %}"  class="btnsubir nav-item nav-link" > <!--boton subir-->
	                </form>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'ejecucion' %} ">Ejecutar</a>
                </li>
                <li class="nav-item">
                {% if modoKernel %}
                <!--<a class="nav-link" onclick="showHidden()" >Mostrar Memoria</a>-->
                <form id="formMem" action="{% url 'memoria' %}" name="formMem" method="post" href="{% url 'memoria' %}" >{% csrf_token %}
                    <input class="nav-link nav-linSub" type="submit" value="Mostrar Memoria" href="{% url 'memoria' %}">
                </form>
                {% else %}
                    <a class="nav-link" href="#" onclick="showHidden()">Mostrar Memoria</a>
                {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paso a paso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'salir' %}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>