{% load static %}
<link href="{% static 'core/css/EstiloBarra.css' %}" rel="stylesheet">
 
<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/script.js' %}"></script>

<nav class="navbar nav-1 navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-image" href=" {% url 'home' %} ">
          <img src="{% static 'core/img/logo.png'%}" class="responsive-img" alt="logo" height="30" width="30">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto justify-content-between">
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Abrir</a>-->
                    <form id="formularioprin" name="formularioprinc" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="file" name="archivo" id="subirArchivoCh" accept=".ch" style="display : none;" required >
                        <a class="nav-item nav-link" id="btnAbrir" href="{% url 'home' %}" onclick="actionOpen()" >Abrir</a> <!--boton abrir-->
                        <input type="submit" value="Subir" id="btnUp"  class="btnsubir nav-item nav-link" > <!--boton subir-->
	                </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'ejecucion' %} ">Ejecutar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showHidden()">Mostrar Memoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paso a paso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Salir</a>
                </li>
            </ul>
        </div>
    </nav>