{% load static %}
<link href="{% static 'core/css/EstiloCuerpo.css' %}" rel="stylesheet">

<div class="row principal">
  <div class="col columna1">
    {% include "core/columnas/columna1.html" %}
  </div>
  
  <div class="col columna2">
     {% include "core/columnas/columna2.html" %}
  </div>
  {% if modoKernel %}
  <div class="col columna3">
  {% else %}
  <div class="col columna3 hidden">
  {% endif %}
    <div class="card">
      {% include "core/columnas/columna3.html" %}
    </div>
  </div>
</div>