{% load static %}
<link href="{% static 'core/css/columnas/EstiloColumna1.css' %}" rel="stylesheet">

<div class="row row-1" >
    <div class="col col1">    
        <div class="card">
            <div class="row row1 justify-content-between">
                <div class="text">Memoria</div>
                <div class="Cajon">
                    <input type="number" id="memoria" name="memoria" min="1" max="9999" value={{memoria}} style="width: 50px" form ="formularioprin">
                </div>
            </div>
            <div class="row row2 justify-content-between d-flex align-items-end">
                <div class="text">Kernel</div>
                <div class="Cajon">
                    <input type="number" id="kernel" name="kernel" min="1" max="100" value={{kernel}} style="width: 50px" form ="formularioprin">
                </div>
            </div>
        </div>
    </div>
    <div class="col col2">
        <div class="card">
            <div class="row row1 justify-content-around">
                <div class="text">Acumulador</div>
                <div class="text">{{acumulador}}</div>
            </div>
            <div class="row row2 justify-content-around">
                <div class="text">Programa</div>
                <div class="text"> {{nombre}} </div>
            </div>
            <div class="row row3 justify-content-around">
                <div class="text">Pc</div>
                <div class="text">{{pc}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row row-2">
    <div class="col col1 ">
        <div class="card">
            <table class="table table-striped table-borderless table-hover">
                <tbody class="overflow-auto">
                {% for numM,M in Memoria2 %}
                    <tr>
                        <td>
                            <div class="text text-center"> {{numM}} </div>
                        </td>
                        <td>
                            <div class="text text-center"> {{M}} </div>
                        </td>
                    </tr>
                {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
    <div class="col col2">
        <div class="card card1">
            <table class="table table-striped table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col" >
                            <div class="text text-center">Pos</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">Variable</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="overflow-auto">
                {% for numV,V in Variables %}
                    <tr>
                        <td>
                            <div class="text text-center">{{numV}}</div>
                        </td>
                        <td>
                            <div class="text text-center">{{V}}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="card card2">
            <table class="table table-striped table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col" >
                            <div class="text text-center">Pos</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">Etiquetas</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="overflow-auto">
                {% for posE,E in Etiquetas %}
                    <tr>
                        <td>
                            <div class="text text-center"> {{posE}} </div>
                        </td>
                        <td>
                            <div class="text text-center"> {{E}} </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row row-3">
    <div class= "col">
        <div class="card">
            <table class="table table-striped table-borderless table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col" >
                            <div class="text text-center">ID</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">Programa</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">#INS</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">RB</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">RLC</div>
                        </th>
                        <th scope="col" >
                            <div class="text text-center">RLP</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="overflow-auto">
                    <tr>
                        <td>
                            <div class="text text-center">0000</div>
                        </td>
                        <td>
                            <div class="text text-center"> {{nombre}} </div>
                        </td>
                        <td>
                            <div class="text text-center"> {{INS}} </div>
                        </td>
                        <td>
                            <div class="text text-center">{{RB}}</div>
                        </td>
                        <td>
                            <div class="text text-center">{{RLC}}</div>
                        </td>
                        <td>
                            <div class="text text-center">{{RLP}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
   