{% load static %}
<link href="{% static 'core/css/columnas/EstiloColumna2.css' %}" rel="stylesheet">

<a class="imagen">
    <img src="{% static 'core/img/monitor.png'%}" alt="Monitor" height="400" width="500">
</a>
<div class="card cont-pantalla overflow-auto">
      
</div>
<div class="card Modo ">
    <div class="row row1 justify-content-center d-flex align-items-center">
        <div class="text ">
            <b>Modo Kernel</b>
        </div>
    </div>
</div>
<a class="imagen">
    <img src="{% static 'core/img/impresora.png'%}" alt="Monitor" height="400" width="500">
</a>
<div class="card cont-impre-ux overflow-auto">
      
</div>

<div class="card cont-impre overflow-auto">
      
</div>