{% load static %}
<link href="{% static 'core/css/columnas/EstiloColumna3.css' %}" rel="stylesheet">

<div class="card card1">
    <table class="table tab-contenido table-striped table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col" >
                    <div class="img-tab" href="">       
                    </div>
                </th>
                <th scope="col" >
                    <div class="text">Direccion</div>
                </th>
                <th scope="col" >
                    <div class="text">Contenido</div>
                </th>
            </tr>
        </thead>
        <tbody class="overflow-auto">
            <tr>
                <td><!--Acumulador-->
                    <img src="{% static 'core/img/logo.png'%}" class="responsive-img" alt="logo" height="30" width="30">
                </td>
                <td>
                    <div class="text">0000</div>
                </td>
                <td>
                    <div class="text">xxxxx</div>
                </td>
            </tr>
            {% for w in kernel  %}
                <tr><!--Kernel-->
                    <td>
                        <img src="{% static 'core/img/pinguino.png'%}" class="responsive-img" alt="logo" height="30" width="30">
                    </td>
                    <td>
                        <div class="text">{{w}}</div>
                    </td>
                    <td>
                        <div class="text">Kernel</div>
                    </td>
                </tr>
            {% endfor %}
            {% for w in memoriaLibre %}    
                <tr><!--Memoria libre-->
                    <td>
                        <img src="{% static 'core/img/lobo.png'%}" class="responsive-img" alt="logo" height="30" width="30">
                    </td>
                    <td>
                        <div class="text">{{w}}</div>
                    </td>
                    <td>
                        <div class="text"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>            
</div>