.nav-1 {
    margin-left: 20px;
    margin-right: 20px;
    background-color:#007AFF;
    position: relative;
    z-index: 2;
   
}
.nav-1 .navbar-nav .nav-item .nav-link {
    font-style: normal;
    font-size: 20px;
    color: black;
}
.nav-linSub{
    background-color: transparent;
    border: transparent;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto ;
display: flex;
justify-content: space-between;
}